<header>
    <nav>
        <h1 style="text-decoration: none; font-weight: normal; font-size:1.7vw;"><a href="/">Card Tracker:</a></h1>
        <ul style="text-decoration: none; font-weight: normal; font-size:1.4vw;">
            <li><a href="/normy">Normy Login</a></li>
            <li><a href="/admin">Admin Login</a></li>
        </ul>
    </nav>
</header>