<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/style.css">
    <link rel="icon" type="image/jpg" href="https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg">
    <title>Magic the Gathering</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <%- body %> 
    <br>
    <h1><b><%- include('../partials/successMessage.ejs') %></b></h1>
    <h1 style="color: red"><b><%- include('../partials/errorMessage.ejs') %></h1>
</body>
</html>