<h1 style="text-decoration: none; font-weight: normal; font-size:1.25vw;">Normy Login:</h1>

<form action="/normy/login" method="POST" style="text-decoration: none; font-weight: normal; font-size:1.0vw;">
    <%- include('_form_fields') %> 
    <button type="submit">Login</button><br>
    <a href="/">Cancel</a>
</form>